/* css styles */
table {
  font-size: 10px; /* Ajuste la taille du texte */
}

.quarto-color-scheme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quarto-color-scheme-toggle > i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    transition: opacity 0.5s ease, background-image 0.5s ease;
}

.external-link::after {
    content: " ↗"; /* Ou une icône de votre choix */
    font-size: 0.8em;
  }

body {
  font-size: 80%; /* Ou 15px, 95%, etc. */
}
h1 {
  font-size: 2.2em; /* Exemple: légèrement plus petit que la taille par défaut */
  color: #153561;
}
h2 {
  font-size: 1.8em; /* Exemple: légèrement plus petit que la taille par défaut */
  color: #153561;
}

/* Icône de lune pour le mode clair */
body.quarto-light .quarto-color-scheme-toggle > i {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286'%3E%3C/path%3E%3C/svg%3E");

}

/* Icône de soleil pour le mode sombre */
body.quarto-dark .quarto-color-scheme-toggle > i {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708'%3E%3C/path%3E%3C/svg%3E");
}

body.quarto-light .navbar{
    background-color: white;
    border-bottom: solid 1px #8ba3c4;
}

body.quarto-dark .navbar{
    background-color: #222;
    border-bottom: solid 1px black;
}

body.quarto-light .nav-item .nav-link{
    color: #153561;
}

body.quarto-light .aa-SubmitIcon{
    fill: #153561;
}

body.quarto-dark .nav-item .nav-link, body.quarto-dark .content .tool a,
body.quarto-dark .tab-content p{
    color: white;
}


/* CSS pour le logo dans la barre de navigation */
.navbar-brand {
    position: relative;
    width: 180px; /* Ajustez la largeur comme vous le souhaitez */
    height: 80px; /* Ajustez la hauteur comme vous le souhaitez */
}

/* Pseudo-élément pour le logo sombre */
.navbar-brand::before {
    content: "";
    background-image: url('../images/Argo_logo_tallspacer.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-brand.navbar-brand-logo{
    margin-right: 40px !important;
}

/* Masquer le logo sombre en mode clair */
.quarto-light .navbar-brand::before {
    display: none;
}

/* Pseudo-élément pour le logo clair */
.quarto-light .navbar-brand::after {
    content: "";
    background-image: url('../images/Argo_logo_tallspacer.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar-brand .navbar-logo{
    display: none;
}

#quarto-content{
    padding-top: 0px !important;
}

